<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--通过配置，告诉 spring的ioc容器，您需要帮我管理哪一个类的对象-->
    <bean id="helloWorld" class="com.springstu01.hello.HelloWorld">
        <property name="username" value="LQQB"></property>
    </bean>

</beans>